.p-header {
  .mobile-container {
    display: none;
  }
}


.more-btn {
  &__link {
    width: 220px;
    height: 60px;
    padding: 14px 15px;

    & span {
      font-size: 18px;
    }
  }
}

//.top-view 
.top-view {
  margin-top: 75px;
  margin-bottom: 100px;

  .swiper-container {
    height: 90vh;
    margin-right: 0;
  }

  .hero {
    &__text {
      bottom: 30%;
    }
  }
}

//.p-services
.p-services {
  padding-top: 70px;
  padding-bottom: 60px;
  margin-top: 100vh;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 33%;
    margin-bottom: 20px;
  }

  &__img {
    height: 200px;
  }

  &__btn {
    text-align: center;
  }
}

//.p-others
.p-others {

  a:hover {
    .bg-img {
      transform: scale(1.04);
      transition: all 0.4s;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 50%;

    & a {
      height: 220px;
    }
  }

}

//.p-recruit
.p-recruit {
  & .c-container {
    margin-left: 10%;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__txt {
    width: 50%;
  }

  &__img {
    width: 45%;
    margin: 0;
  }
}

//.p-news
.p-news {
  & .c-container {
    padding: 0 10vw;
  }

  &__content {
    font-size: 16px;
  }
}

//.p-contact
.p-contact {
  &__desc {
    font-size: 20px;
  }

  &__tel {
    margin-bottom: 30px;
  }
}

//.p-footer
.p-footer {
  &__logo {

    & img {
      width: 100px;
      object-fit: contain;
    }
  }

  &__nav {
    border-left: 1px solid rgb(224, 223, 223);

    & ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 40px;
    }

    & li {
      width: 50%;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__address {
    width: 40%;
    border-left: 1px solid rgb(224, 223, 223);
  }
}

//* * * * * * 会社概要 * * * * * * * 
.c-company {
  .c-topview {
    margin-bottom: 60px;
  }

  .c-container {
    padding: 0 8vw;
  }

  .c-message {

    &__wrap {
      display: flex;
      justify-content: space-between;
    }

    &__img {
      width: 30%;
      height: 30vh;
    }

    &__desc {
      margin-bottom: 0;
    }

    &__txt {
      padding-top: 60px;
      width: 65%;
    }
  }

  .c-policy {
    &__img {
      display: flex;
      justify-content: space-between;

      & img {
        width: 48%;
        height: 300px;
      }
    }
  }

  .c-about,
  .c-history {

    &__desc {

      th,
      td {
        width: 50%;
        display: table-cell;
        text-align: left;
      }

      th {
        width: 30%;
      }

      td {
        width: 70%;
        border: 1px solid #DDDDDD;
      }
    }
  }

  .c-about {
    &__img {
      display: flex;
      justify-content: space-between;

      & img {
        width: 48%;
        height: 200px;
      }
    }
  }

  .c-access {
    &__map {
      iframe {
        height: 300px;
      }
    }
  }
}

//* * * * * * 事業案内 * * * * * * * 
.c-business {

  &-item {
    padding: 0 10vw;

    .c-title {
      padding-left: 0;
    }

    &__wrap {
      display: flex;
      justify-content: space-around;
    }

    &__img {
      display: block;
      width: 40%;

      & img {
        width: 100%;
        height: 60%;
      }
    }

    &__desc {
      position: relative;
      margin-top: 20px;
      width: 55%;
    }
  }
}

//* * * * * * 実績紹介 * * * * * * * 
.c-works {
  .c-container {
    padding: 0 10vw;
  }

  &__item {
    display: flex;
    justify-content: space-between;

    .view-sp {
      display: none;
    }
  }

  &__img-wrap {
    width: 40%;
    margin-bottom: 0;
  }

  &__txt {
    width: 50%;
  }

}

//* * * * * * 採用情報 * * * * * * * 
.c-recruit {
  .c-container {
    padding: 0 5vw;
  }

  & ul {
    display: flex;
    justify-content: space-between;

    & li {
      width: 30%;
      line-height: 1;
    }

    .points-title {
      margin-bottom: 25px;

      & .c-txt-lr {
        line-height: 1.5;
        font-size: 18px;
      }
    }

    .points-desc {
      & .c-txt-sm {
        font-size: 14px;
        line-height: 1.7;
      }
    }
  }

  .contents-recruit {
    .c-table01 {
      & tr {
        & th {
          vertical-align: top;
          min-width: 200px;
        }
      }

      & .u-view-sp {
        display: none;
      }
    }

  }
}

// * * * * * * * * * news-page * * * * * * 
.news-wrapper {
  padding: 0;

  .c-title {
    margin-bottom: 0;
  }

  & .c-container {
    padding: 0 10vw;
  }

  .c-news {
    padding: 0;

    &__title {
      margin: 0 0 5vw 0;
    }

    &__link {
      padding: 2vw 0;
    }
  }
}

// * * * * * * * * * news-sl-page * * * * * * 
.c-news-sl {

  &__contents {
    padding: 10vw 0;
  }

  .p-footer {
    &__wrap {
      display: flex;
      justify-content: space-between;
    }

    & .p-open-time {
      margin: 0;

      &__wrap {
        width: 90%;
      }

      &__table {
        & th:first-child {
          width: 9.8vw;
        }
      }
    }
  }
}